{% include './includes/sidebar.html' %}

<style>

    table{
        border-left:none !important;
        border-right:none !important;

    }

    th{
            border-left:none !important;
        border-right:none !important;

    }

    tbody{

        border-left:none !important;
        border-right:none !important;

    }
    tbody td{
            border-left:none !important;
        border-right:none !important;


    }

</style>

{% load static %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-sort"></i>Total Gross Profit for USD </h1>
    <p class="mb-4"><img src="{% static 'img/unitedflag.png' %}" alt=""> <span class="currency">{{gross_profits.gross_profit_usd}}</span> USD</p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sale Orders Information</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>Order Invoice No</th>
                        <th>Order Date</th>
                        <th>Customer Name</th>
                        <th>Total Amount</th>
                        <th>Initial Advance</th>
                        <th>Payment Remaining</th>
                        <th>Gross Profit</th>


                    </tr>
                    </thead>

                    <tbody>
                    {% for sale_order in orders.sale_orders_usd %}
                    <td><a href="{% url 'order_view' id=sale_order.id %}">{{sale_order.order_invoice_no}}</a></td>
                    <td>{{sale_order.order_date}}</td>
                    <td>{{sale_order.customer.customer_name}}</td>
                    <td><span class="currency">{{sale_order.total}}</span> {{sale_order.currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.advance}}</span> {{sale_order.customer_account_currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.payment_remaining}}</span> {{sale_order.currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.gross_profit}}</span> USD</td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-sort"></i>Total Gross Profit for PKR</h1>
    <p class="mb-4"><img src="{% static 'img/pakistan.png' %}" alt=""> <span class="currency">{{gross_profits.gross_profit_pkr}}</span> PKR</p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sale Orders Information</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>Order Invoice No</th>
                        <th>Order Date</th>
                        <th>Customer Name</th>
                        <th>Total Amount</th>
                        <th>Initial Advance</th>
                        <th>Payment Remaining</th>
                        <th>Gross Profit</th>


                    </tr>
                    </thead>

                    <tbody>
                    {% for sale_order in orders.sale_orders_pkr %}
                    <td><a href="{% url 'order_view' id=sale_order.id %}">{{sale_order.order_invoice_no}}</a></td>
                    <td>{{sale_order.order_date}}</td>
                    <td>{{sale_order.customer.customer_name}}</td>
                    <td><span class="currency">{{sale_order.total}}</span> {{sale_order.currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.advance}}</span> {{sale_order.customer_account_currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.payment_remaining}}</span> {{sale_order.currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.gross_profit}}</span> PKR</td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-sort"></i>Total Gross Profit for EUR</h1>
    <p class="mb-4"><img src="{% static 'img/euro.png' %}" alt=""> <span class="currency">{{gross_profits.gross_profit_eur}}</span> EUR</p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sale Orders Information</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>Order Invoice No</th>
                        <th>Order Date</th>
                        <th>Customer Name</th>
                        <th>Total Amount</th>
                        <th>Initial Advance</th>
                        <th>Payment Remaining</th>
                        <th>Gross Profit</th>


                    </tr>
                    </thead>

                    <tbody>
                    {% for sale_order in orders.sale_orders_eur %}
                    <td><a href="{% url 'order_view' id=sale_order.id %}">{{sale_order.order_invoice_no}}</a></td>
                    <td>{{sale_order.order_date}}</td>
                    <td>{{sale_order.customer.customer_name}}</td>
                    <td><span class="currency">{{sale_order.total}}</span> {{sale_order.currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.advance}}</span> {{sale_order.customer_account_currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.payment_remaining}}</span> {{sale_order.currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.gross_profit}}</span> EUR</td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-sort"></i>Total Gross Profit for GBP</h1>
    <p class="mb-4"><img src="{% static 'img/england.png' %}" alt=""> <span class="currency">{{gross_profits.gross_profit_gbp}}</span> GBP</p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sale Orders Information</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable4" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>Order Invoice No</th>
                        <th>Order Date</th>
                        <th>Customer Name</th>
                        <th>Total Amount</th>
                        <th>Initial Advance</th>
                        <th>Payment Remaining</th>
                        <th>Gross Profit</th>


                    </tr>
                    </thead>

                    <tbody>
                    {% for sale_order in orders.sale_orders_gbp %}
                    <td><a href="{% url 'order_view' id=sale_order.id %}">{{sale_order.order_invoice_no}}</a></td>
                    <td>{{sale_order.order_date}}</td>
                    <td>{{sale_order.customer.customer_name}}</td>
                    <td><span class="currency">{{sale_order.total}}</span> {{sale_order.currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.advance}}</span> {{sale_order.customer_account_currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.payment_remaining}}</span> {{sale_order.currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.gross_profit}}</span> GBP</td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-sort"></i>Total Gross Profit for CAD</h1>
    <p class="mb-4"><img src="{% static 'img/canada.png' %}" alt=""> <span class="currency">{{gross_profits.gross_profit_cad}}</span> CAD</p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sale Orders Information</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable5" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>Order Invoice No</th>
                        <th>Order Date</th>
                        <th>Customer Name</th>
                        <th>Total Amount</th>
                        <th>Initial Advance</th>
                        <th>Payment Remaining</th>
                        <th>Gross Profit</th>


                    </tr>
                    </thead>

                    <tbody>
                    {% for sale_order in orders.sale_orders_cad %}
                    <td><a href="{% url 'order_view' id=sale_order.id %}">{{sale_order.order_invoice_no}}</a></td>
                    <td>{{sale_order.order_date}}</td>
                    <td>{{sale_order.customer.customer_name}}</td>
                    <td><span class="currency">{{sale_order.total}}</span> {{sale_order.currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.advance}}</span> {{sale_order.customer_account_currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.payment_remaining}}</span> {{sale_order.currency.abbreviation}}</td>
                    <td><span class="currency">{{sale_order.gross_profit}}</span> CAD</td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; EuroAsia Dashboard 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

<script>
        let x = document.querySelectorAll(".currency");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                      .toLocaleString('en');
            x[i].innerHTML = num;

        }
</script>


</body>

</html>